body{
    background-color: seashell;
}

#head-image{
    max-width: 250px;
    max-height: 500px;
    width: 75%;
}

#head-text{
    color: cornflowerblue;
    font-weight: bold;
}

#footer {
    position: fixed;
    height: 50px;
    background-color: lightslategrey;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

.intro-text{
    font-size: medium;
    color: black;
}

.list-text{
    font-size: medium;
}
